{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "never",
  "arrowParens": "avoid",
  "eslintIntegration": true,
  "javascript.format.insertSpaceBeforeFunctionParenthesis": true,
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"]
}
