.vrc-container {
  position: relative;
}

.vrc-container > .vrc-handle {
  display: block;
  position: absolute;
  z-index: 90;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: transparent;
}

.vrc-container > .vrc-handle.vrc-handle--r {
  cursor: e-resize;
  width: 12px;
  right: -6px;
  top: 0;
  height: 100%;
}

.vrc-container > .vrc-handle.vrc-handle--rb {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: -6px;
  bottom: -6px;
  z-index: 91;
}

.vrc-container > .vrc-handle.vrc-handle--b {
  cursor: s-resize;
  height: 12px;
  bottom: -6px;
  width: 100%;
  left: 0;
}

.vrc-container > .vrc-handle.vrc-handle--lb {
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: -6px;
  bottom: -6px;
  z-index: 91;
}

.vrc-container > .vrc-handle.vrc-handle--l {
  cursor: w-resize;
  width: 12px;
  left: -6px;
  height: 100%;
  top: 0;
}

.vrc-container > .vrc-handle.vrc-handle--lt {
  cursor: nw-resize;
  width: 12px;
  height: 12px;
  left: -6px;
  top: -6px;
  z-index: 91;
}

.vrc-container > .vrc-handle.vrc-handle--t {
  cursor: n-resize;
  height: 12px;
  top: -6px;
  width: 100%;
  left: 0;
}

.vrc-container > .vrc-handle.vrc-handle--rt {
  cursor: ne-resize;
  width: 12px;
  height: 12px;
  right: -6px;
  top: -6px;
  z-index: 91;
}
